
.main {
	grid-template-columns: 1fr;
	max-width: 1073px;
	width: 100%;
}

.content {
	background-color: rgb(255, 255, 255);
}


.text__block {
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	column-gap: 10px;
	background-color: #F8F8F8;
	padding-inline: 40px;
	padding-block: 35px;
	border-bottom: 3px solid black;

	&-q {
		font-family: "Poppins";
		font-size: 72px;
		color: black;
	}
}

.introduction__block {
	display: flex;
	flex-direction: column;
	row-gap: 20px;
}

.introduction__title {
	font-size: 62px;
	line-height: 50px;
	color: black;
	
	+ .introduction__title {
		color: #A57655;
	}

}

@media screen and (max-width: 835px) {
	.text__block {
		display: flex;
	}
}