// reset
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	transition: padding 0.5s ease;
}

h1 {
	font-size: 62px;
	letter-spacing: 2px;
	line-height: 65px;
	font-weight: 400;
}

h2 {
	font-size: 28px;
	letter-spacing: 1.5px;
	font-weight: 500;
	color: #8d5f3e;
}

h1,
h2 {
	text-transform: uppercase;
	font-family: "Poppins";
}

h3 {
	font-size: 18px;
	font-family: "Montserrat";
	margin-bottom: 10px;
	letter-spacing: 1.5px;
}

h4 {
	font-size: 18px;
	font-weight: 500;
}

// utility
body {
	display: grid;
	align-items: center;
	justify-content: center;
	padding-inline: 15px;

	background-color: white;
	opacity: 1;
	background-image: radial-gradient(#ffffff 0.5px, transparent 1px), radial-gradient(#080808 0.5px, #ffffff 0.5px);
	background-size: 20px 20px;
	background-position: 5px, 0px, 20px 10px;
}

.desktop--hidden {
	display: none;
}

.container {
	max-width: 1050px;
	width: 100%;
	background-color: #dfd7cccc;
}

.main {
	display: grid;
	grid-template-columns: minmax(375px, 0.85fr) minmax(400px, 1fr);
	transition: opacity 0.3s ease;

	&.is-animating {
		opacity: 0;
		pointer-events: none;
	}
}

.content {
	padding-inline: 40px;
	padding-block: 30px;

	>.block:last-of-type {
		padding-bottom: 0px;
	}

	+.content {
		background-color: #fcfcfc;
		position: relative;
	}
}

.block {
	padding-bottom: 30px;
}

.flex {
	display: flex;
	align-items: center;

	&.link {
		column-gap: 10px;
	}
}

.title {
	margin-bottom: 10px;
	font-weight: 400;
}

.link {
	font-size: 18px;
	font-family: "montserrat";
	color: black;
	text-decoration: none;
	transition: margin-left 0.5s ease, color 0.5s ease;

	&:hover {
		color: #8d5f3e;
		margin-left: 5px;
	}
}

.text {
	font-family: "montserrat";
	letter-spacing: 1.3px;
	max-width: 475px;
	line-height: 30px;

	&.bold {
		font-weight: 600;
	}
}

.icon {
	height: 35px;
	width: 35px;
}

.list {
	&--col {
		display: grid;
		margin-bottom: 20px;
	}

	&__item {
		display: flex;
		align-items: center;
		column-gap: 10px;
		list-style: none;

		&--styled {
			margin-left: 25px;
			margin-bottom: 7.5px;
		}

		&--col {
			list-style: none;
			flex-direction: column;
			margin-bottom: 15px;
		}
	}
}

// nav
.primary-nav {
	padding-inline: 40px;
	padding-block: 20px;
	background-color: #fcfcfc;
	text-transform: uppercase;

	.list {
		display: flex;
		justify-self: flex-end;
		align-self: end;
		column-gap: 10px;
	}

	.link {
		color: #8d5f3e;
		padding: 4px 13px;
		
		&:hover {
			margin-left: 0px;
			color: black;
		}
	}

	.active {
		color: black;
		border: 1px solid black;
		padding: 3px 12px;
	}
}

// hero

.hero {
	display: grid;
	grid-template-columns: minmax(375px, 0.85fr) minmax(400px, 1fr);
	grid-column: 1 / 3;

	.block {
		padding-inline: 40px;
		padding-top: 40px;
	}
}

.hero__img {
	object-fit: cover;
	border-radius: 50%;
	transition: width 0.5s ease, height 0.5s ease;
}

.text__block {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #A57655;
	color: white;
}

.hero__text--sub {
	font-size: 22px;
	color: rgba(0, 0, 0, 0.726);
}

// courses
.courses__block {
	h3 {
		max-width: 300px;
	}

	.list {
		display: grid;
		row-gap: 20px;
	}
}

// work exp
.workexp__block .list {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
	max-width: 500px;
}

// recommenders
.recommenders {
	&__block {
		margin-top: 40px;

		&.mobile--hidden {
			position: absolute;
			bottom: 70px;
			right: 40px;
			left: 40px;
		}
	}

	&__wrapper {
		display: flex;
		align-items: center;
	}

	&__left {
		border-right: 3px dotted black;
		padding-right: 30px;
	}

	&__right {
		padding-left: 30px;
	}

}

// media queries
@media screen and (max-width: 965px) {
	h1 {
		font-size: 40px;
		line-height: 40px;
	}

	h2 {
		font-size: 24px;
	}

	h3 {
		font-size: 16px;
	}

	.hero__text--sub {
		font-size: 16px;
	}

	.text {
		font-size: 16px;
	}

	.hero__img {
		width: 200px;
		height: 200px;
	}
}

@media screen and (max-width: 835px) {
	h1 {
		font-size: 30px;
		line-height: 35px;
	}

	h2 {
		font-size: 24px;
	}

	h3 {
		font-size: 14px;
	}

	.main {
		grid-template-columns: 1fr;
	}

	.hero {
		grid-column: 1 / 2;
		grid-row: 1 / 2;
	}

	.primary {
		grid-row: 2 / 3;
	}

	.secondary {
		grid-row: 3 / 4;
	}

	.block {
		padding-bottom: 20px;
	}

	.text {
		font-size: 14px;
		max-width: none;
	}

	.mobile--hidden {
		display: none;
	}

	.desktop--hidden {
		display: block;
	}

	.mobile--flex-col-reverse {
		display: flex;
		flex-direction: column-reverse;
	}

	.hero {
		display: flex;
		flex-direction: column-reverse;
	}

	.hero__text--sub {
		font-size: 14px;
	}

	.text__block {
		display: grid;
		grid-template-columns: 1fr 0.5fr;
		flex-shrink: 1;
		align-items: center;
		justify-content: center;
	}
}

@media screen and (max-width: 550px) {
	.mobile--center {
		display: grid;
		justify-content: center;
		align-items: center;
	}

	.hero .block {
		padding-inline: 0px;
	}

	.hero__text--main {
		text-align: center;
		margin-top: 15px;
	}

	.hero__text--sub {
		text-align: center;
	}

	.text__block {
		display: flex;
		flex-direction: column-reverse;
	}

	.recommenders__left {
		padding-right: 15px;
	}

	.recommenders__right {
		padding-left: 15px;
	}

	.content {
		padding-inline: 15px;
	}
}

@media screen and (max-width: 375px) {
	body {
		padding: 0;
	}
}

// introduction
.main.introduction {
	grid-template-columns: minmax(250px, 1050px);
	max-width: 1050px;

	.content {
		background-color: rgb(255, 255, 255);
	}

	.text {
		max-width: none;
	}

	.text__block {
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		column-gap: 10px;
		background-color: #dfd7cccc;
		padding-inline: 40px;
		padding-block: 35px;
		border-bottom: 3px solid black;

		&-q {
			font-family: "Poppins";
			font-size: 72px;
			color: black;
		}
	}

	.introduction__block {
		display: flex;
		flex-direction: column;
		row-gap: 20px;
	}

	.introduction__title {
		font-size: 62px;
		line-height: 50px;
		color: black;

		&--dark {
			color: #A57655;
		}
	}

	@media screen and (max-width: 835px) {
		.text__block {
			display: flex;
		}
	}

	@media screen and (max-width: 550px) {
		.text__block {
			padding-inline: 15px;
		}
	}
}